html, body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    width: 100%;
    text-align: left;
    background-color: #fafafa;
    font-family: 'Lato', sans-serif;
    color: black;
}
.logo {
    position: absolute;
    top: 0;
    right:21%
}

.banner {
    background-image:url("img/jumbotron-background.jpg");
    display: flex;
    min-height: 550px;
}
@media (max-width: 1000px ) {
    .banner {
        background-image:url("img/jumbotron-background-sm.jpg");
    }
}


.banner-collumn {
    float: right;
    color: white;
    margin-right: 19%;
    margin-top: 4%;
    width: 31%;
}
@media (max-width: 767px ) {
    .banner-collumn {
        margin-top: 30%;
        width: 100%;
        margin-right: 0;
    }
}
.banner-collumn h1 {
    font-size: 2.9em;
    margin-bottom: 5%
}
.banner-collumn p { 
    font-size: 1em;
    font-weight: 300;
}
form {
    position: absolute;
    width: 100%;
}
@media (max-width: 1000px){
    form {
        position: inherit;        
    }
}
.form-main-container {
    width: 30%;
    position: relative;
    float: right;
    margin-right: 18%;
    margin-top: 6%;
    top:-20em;
    padding: 2%;
    background-color:#ebebeb;
    border-radius: 1%;
    box-shadow:0 0 10px gray;
}
@media (max-width: 1000px){
    .form-main-container {
        width: 85%;
        top:0;
        margin-right: 0;
        margin-top: 0;
        margin-left: 10%;
        float:left;
        
    }
}
.paper {
    width: 43%;
    position: absolute;
    top: -15px;
    right: -25px;
}
.form-tittle-container {
    width: 65%;
}
.form-tittle-container:after {
    content:"";
    border-bottom: 2px solid #d1d1d1;
    position: absolute;
    width:85%;
    top:23%;
    z-index: 5;
}
.download-tittle {
    color: #b52217;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
}
.form-tittle {
    color:#262626;
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
}
.form-descrition {
    color:#222222;
    font-weight: 600;
    margin-top: 3%;
}
form label {
    color: black;
}
.form-btn {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #f2950a;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    box-shadow:1px 1px 3px gray;
    border: 1px solid white;
}
.main-text {
    width: 46%;
    margin-left: 2%;

}
@media (max-width: 767px) {
    .main-text {
        width: 95%;
    }
}
.argument-container {
    display: inline-block;
    padding: 1px 24px;
    vertical-align: top;
}
.argument-container-sm {
   width: 42%;
    padding-left: 10px;
}

@media (max-width: 1000px) {
    .argument-container-sm {
        width: 88% !important;
    }
}
.argument-container-big {
   width: 50%
}
@media (max-width: 1000px) {
    .argument-container-big {
        width: 100% !important;
    }
}
.argument-container-big i {
  color: #ce2b1d;
  font-size: 28px;    
}
.argument-container-big b {
  font-weight: 900;    
}
.clearfix:after {
  content:'';
  display:table;
  clear:both;
  }