html, body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    width: 100%;
    text-align: left;
    background-color: #fafafa;
    font-family: 'Lato', sans-serif;
    color: black;
}

/*JUMBOTRON BANNER*/

.logo {
    position: absolute;
    top: 0;
    right:21%
}

.banner {
    background-image:url("img/jumbotron-background.jpg");
    display: flex;
    min-height: 550px;
}
@media (max-width: 1000px ) {
    .banner {
        background-image:url("img/jumbotron-background-sm.jpg");
    }
}


.banner-collumn {
    float: right;
    color: white;
    margin-right: 19%;
    margin-top: 4%;
    width: 31%;
}
@media (max-width: 1000px ) {
    .banner-collumn {
        margin-top: 30%;
        width: 100%;
        margin-right: 0;
    }
}
.banner-collumn h1 {
    font-size: 2.9em;
    margin-bottom: 5%
}
.banner-collumn p { 
    font-size: 1em;
    font-weight: 300;
}



/*FLOATED FORM*/
form {
    position: absolute;
    width: 100%;
}
@media (max-width: 1000px){
    form {
       position:inherit; 
    }
}
.form-main-container {
    width: 30%;
    position: absolute;
    right: 18%;
    top:-52em;
    padding: 2%;
    background-color:#ebebeb;
    border-radius: 1%;
    box-shadow:0 0 10px gray;
}
@media (max-width: 1000px){
    .form-main-container {
        position:relative; 
        top: 0;
        right: 0;
    }
}
@media (max-width: 1000px){
    .form-main-container {
        width: 85%;
        top:0;
        margin-right: 0;
        margin-top: 0;
        margin-left: 10%;
        float:left;
    }
}
.paper {
    width: 43%;
    position: absolute;
    top: -15px;
    right: -25px;
}
.form-tittle-container {
    width: 65%;
}
.form-tittle-container:after {
    content:"";
    border-bottom: 2px solid #d1d1d1;
    position: absolute;
    width:85%;
    top:23%;
    z-index: 5;
}
.download-tittle {
    color: #b52217;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
}
.form-tittle {
    color:#262626;
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
}
.form-descrition {
    color:#222222;
    font-weight: 600;
    margin-top: 3%;
}
form label {
    color: black;
}
.form-btn {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #f2950a;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    box-shadow:1px 1px 3px gray;
    border: 1px solid white;
}


/*MAIN TEXT*/
/*
@media (max-width 1000px){
     main {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
    }
}
.main-text {
    width: 46%;
    margin: 2% 0 3% 1%;
    
}
*/

.main-text {
    width: 46%;
    margin: 2% 0 3% 1%;
    
}
@media (max-width: 1000px) {
    .main-text {
        width: 95%; 
    }
}
.argument-container {
    display: inline-block;
    padding: 1px 24px;
    vertical-align: top;
}
.argument-container-sm {
   width: 43%;
   margin-left: 30px;
   position: relative;
}

@media (max-width: 1000px) {
    .argument-container-sm {
        width: 88% !important;
    }
}
.argument-container-big {
   width: 50%;
}
@media (max-width: 1000px) {
    .argument-container-big {
        width: 100% !important;
    }
}
.argument-container-big i {
  color: #ce2b1d;
  font-size: 28px;
  position: absolute;
  left:-30px;  
}
.argument-container-big b {
  font-weight: 900;    
}
.lorem-centered {
  color:#484848;
  font-size: 1.5em;
  font-weight: 600;
  font-style: italic;
  margin: 2%;
}
@media (max-width: 1000px) {
    .lorem-centered {
    margin:10% 0;
    }
}
/*GRAY STEPS BANNER*/

.steps-container {
    margin: 0 auto;
    padding: 0 10% 0 19%;
    text-align: center;
    background-color:#ebebeb;
    width:100%;
    box-sizing: border-box;
    padding-top: 2%;

}
.steps-container h2 {
    width: 100%;
    margin-left: -8%;
    
}

.step {
    text-align:left;  
    vertical-align: top;
    display: inline-block;
    width: 40%;
    margin-right: 10%;
    margin-top: 3%;
}
@media (max-width:1000px) {
    .step {
    width:100%;
    margin-left:10px;
    }
}
.step-name {
   font-size: 1.4em;
   font-weight: 900;
   color: #c1261b;
   text-transform: uppercase;
}


.step img {
    position: absolute;
    right: 103%;
}


/*FOOTER*/
footer {
    padding-top: 3%;
}

.footer-tittle {
    color: #9f9f9f !important;
    font-weight: 900;
    font-size: 1.1em;
    line-height: 6em;
}
.copyright {
    color: #777777;
    font-size: 0.9em;
    line-height: 3em;
}
.clearfix:after {
  content:'';
  display:table;
  clear:both;
  }
.logo-container {
    border-bottom: 2px solid #d1d1d1;
    margin: 0 auto;
    width:95%;
}
.centered-container {
  text-align: center;
}

.logo-container img {
    margin: 0 1% 1% 1%;
} 
